@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//COLORS
$dark__main: #121212;
$light__main: #f1f1f1;
$cyan: #5bc0de;
$grey: #6e6e6e;
//--------------------------
//GENERAL
a {
  text-decoration: none;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//MAIN

body {
  height: 100%;
  position: relative;
  font-family: "Nunito", sans-serif;
  background-color: $dark__main;
  color: $light__main;
}

.App {
  min-height: calc(100vh - 70px);
}

//NAVBAR
.navbar {
  height: 90px;
}

//SEARCH
.search {
  margin: 1rem;
  input {
    width: 100%;
    max-width: 600px;
  }
}

//HOME

.Home {
  width: 100%;
}

.wrapper {
  min-height: calc(100vh - 200px);
}

//CAHRACTER CARDS

.character__link {
  display: block !important;
  height: 100%;
  border: 1px solid $cyan;
  border-radius: 5px;
  max-width: 330px;
}
.character__card {
  margin-bottom: 1.25rem;
  .character__card__image {
    img {
      border-radius: 5px;
    }
    .status {
      text-transform: lowercase;
      top: 10px;
      right: 10px;
    }
  }

  .character__card__details {
    .details__item {
      border-radius: 5px;
      background-color: $dark__main;
      margin-top: 5px;
    }
  }
}

.character__card__expanded__wrapper {
  .character__card__expanded,
  .homepage__link {
    width: 100%;
  }
  .character__card__expanded {
    border: 1px solid $cyan;
    border-radius: 5px;
    max-width: 330px;
  }
}

//FILTERS
.show__filter__btn {
  margin-bottom: 30px;
  display: none;
}

//SHOW / HIDE CLASSES
.show {
  display: block !important;
}
.hide {
  display: none !important;
}

.filters {
  padding: 20px;

  .clear__filters {
    width: 100%;
  }
}

.filter__item__input:checked + label {
  background-color: #5bc0de;
  color: $light__main;
}

input[type="radio"] {
  display: none;
}

label {
  margin-top: 1.5rem;
}

.accordion-item {
  margin-top: 1.5rem;
  border-radius: 5px;
}

.filters,
.accordion-button,
.accordion-body {
  border-radius: 5px;
}

.accordion-body {
  padding: 0 !important;
  padding-bottom: 1.5rem !important;
}

//BOOTSTRAP DEFAULT VALUES CHANGE
.accordion-button:not(.collapsed) {
  color: $dark__main;
  background-color: $light__main;
  box-shadow: none;
}

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

//PAGINATION{
.pagination {
  flex-wrap: wrap;
}

//FOOTER
.footer {
  min-height: 120px;

  p {
    max-width: 70%;
    text-align: center;
  }
}

//MEDIA QUERIES
@media screen and (max-width: 576px) {
  .character__link {
    margin: auto;
  }

  .show__filter__btn {
    display: flex;
  }

  .filters {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .filters {
    display: block !important;
  }
}
